extends _layout/layout

block variables
	- var title = "Mai Quoc Qui - Web developer"
	- var bodyclass = ""

block body 
	include _layout/header
	main
		include _pages/ct-webbook3
	include _layout/footer
