footer
	.footer-top
		.container
			.footer-feature
				.row
					.col-12.col-sm-6.col-md-3
						.feature-col
							.icon
								i.md local_shipping
							.caption
								.title GIAO HÀNG MIỄN PHÍ
								.des Từ 120.000đ ở HCM, và không áp dụng ở tỉnh
					.col-12.col-sm-6.col-md-3
						.feature-col
							.icon
								i.md attach_money
							.caption
								.title ĐẢM BẢO HÀNG GIÁ TRỊ
								.des Khai Tâm tuyển chọn sách và văn hóa phẩm  thật sự giá trị
					.col-12.col-sm-6.col-md-3
						.feature-col
							.icon
								i.md insert_emoticon
							.caption
								.title GIÁ TRỊ CỘNG THÊM
								.des Tặng bookmark danh ngôn
									br
									|Bao sách miễn phí ( theo yêu cầu)
									br
									|Sen búp xin tặng bạn
					.col-12.col-sm-6.col-md-3
						.feature-col
							.icon
								i.md thumb_up_alt
							.caption
								.title GIAO HÀNG MIỄN PHÍ
								.des Hàng bị lỗi được đổi tra nhanh chóng
	.footer-main
		.container
			.row
				.col-12.col-sm-6.col-lg-3
					.footer-col
						.footer-title HỖ TRỢ KHÁCH HÀNG
						.footer-link
							a(href="#!") Hướng dẫn mua hàng
							a(href="#!") Phương thức thanh toán
							a(href="#!") Phương thức giao hàng
							a(href="#!") Hướng dẫn đổi trả hàng
							a(href="#!") Câu hỏi thường gặp
				.col-12.col-sm-6.col-lg-3
					.footer-col
						.footer-title HỖ TRỢ KHÁCH HÀNG
						.footer-link
							a(href="#!") Hướng dẫn mua hàng
							a(href="#!") Phương thức thanh toán
							a(href="#!") Phương thức giao hàng
							a(href="#!") Hướng dẫn đổi trả hàng
							a(href="#!") Câu hỏi thường gặp
				.col-12.col-sm-6.col-lg-3
					.footer-col
						.footer-title HỖ TRỢ KHÁCH HÀNG
						.footer-link
							a(href="#!") Hướng dẫn mua hàng
							a(href="#!") Phương thức thanh toán
							a(href="#!") Phương thức giao hàng
							a(href="#!") Hướng dẫn đổi trả hàng
							a(href="#!") Câu hỏi thường gặp
				.col-12.col-sm-6.col-lg-3
					.footer-col
						.fb-fanpage
							img(src="img/fanpage.png", alt="")
			.footer-about
				.row
					.col-12.col-md-4
						.footer-col
							.sitelogo
								a(href="#!")
									img(src="img/logoc.png", alt="")
					.col-12.col-md-4
						.footer-col
							.footer-title NHÀ SÁCH KHAI TÂM 
								span (Hoạt động từ 8h - 21h hàng ngày)
							ul
								li
									i.md place
									span Số 8 Nguyễn Phi Khanh, P. Tân Định, Quận 1, TP. HCM
									br
									a.text-green(href="#!") Xem bản đồ
								li
									i.md phone
									a.text-green(href="#!") 028.7301.9778
					.col-12.col-md-4
						.footer-col
							.footer-title HỖ TRỢ ĐƠN HÀNG ONLINE 
								span (8h - 17h, Thứ Hai đến Thứ Bảy)
							ul
								li
									i.md phone
									a(href="tel:") 028.7301.9777 
									|- 
									a(href="tel:") 028.7301.6777
								li 
									i.md email
									a(href="#!") songdep@sachkhaitam.com
	.footer-bottom
		.container
			.footer-wrap
				.copyright Copyright © 2015 - 2018 Nhà sách Khai Tâm. Thiết kế website bởi Cánh Cam
				.col-right
					.social
						a(href="#!") 
							i.fa.fa-facebook
						a(href="#!") 
							i.fa.fa-instagram
