header
	.header-top
		.container
			.header-wrap.justify-content-between
				.hotline
					i.md phone_iphone
					span Hotline  
						a(href="tel:") 028.7301.9777 
						|- 
						a(href="tel:") 028.7301.6777
				.col-right
					.login
						ul
							li
								a(href="#!") 
									i.md edit
									span Đăng ký
							li
								a(href="#!") 
									i.md person
									span Đăng nhập
	.header-main
		.container
			.header-wrap.justify-content-between
				.sitelogo
					a(href="#!")
						img(src="img/logo.png", alt="")
				.search
					.searchbox
						input(type="text" placeholder="Bạn tìm sách gì?")
						select
							option Tất cả
						button.searchbutton
							i.md search
							span Tìm kiếm
				.col-right
					.cart
						a.cart-toggle(href="#!")
							.cart-icon
								i.md shopping_cart
								.cart-amount 1
							span Giỏ hàng 1 sản phẩm
						.cart-panel
							.cart-list
								.item
									a.img(href="#!")
										img(src="img/pr1.png", alt="")
									.caption
										a.name Đắc nhân tâm - bí quyết để thành công
										.price 1x 57.800đ
										a.btn-remove(href="#!")
											i.fa.fa-trash-o
											span Xóa
							.cart-total
								strong.text-uppercase Tạm tính
								strong(style='color: #f00') 57.800đ
							.checkout-btn
								a.btn-gotocart(href="#!") Giỏ hàng
								a.btn-pay(href="#!") Thanh toán
	.header-menu
		.container
			.header-wrap
				.sidebar-menu
					.btn-sidebar
						i.md menu
						span Tất cả danh mục
				.h-menu
					ul.menu-link
						li
							a(href="#!") Tủ sách khai tâm
						li.has-sub
							a(href="#!") Hỗ trợ khách hàng
							.sub
								ul
									li
										a(href="#!") sub 1
						li.has-sub
							a(href="#!") Chăm sóc khách hàng
							.sub
								ul
									li
										a(href="#!") Sen búp xin tặng bạn
									li
										a(href="#!") Bao đọc sách hay
									li
										a(href="#!") Yêu cầu đặt sách
									li
										a(href="#!") Tư vấn dịch vụ
						li
							a(href="#!") Về khai tâm
						li
							a(href="#!") Chia sẽ sách hay
						li
							a(href="#!") Điểm sách
		
