.container
	section.page-banner
		.banner
			.item
				a.img.d-block(href="#!")
					img(src="img/pagebn1.png", alt="")
	include ../_layout/breadcrumb
	section.category-filter
		ul.category-list
			li
				a(href="#!") Ohsawa
			li
				a(href="#!") Krishnamurti
			li
				a(href="#!") Osho
			li
				a(href="#!") Kahlil Gibran
			li
				a(href="#!") Nguyễn Duy Cần
			li
				a(href="#!") Nguyễn Hiến Lê
			li
				a(href="#!") Thích Nhất Hạnh
			li
				a(href="#!") Thích Nhất Hạnh
			li
				a(href="#!") Tuệ Sỹ
			li
				a(href="#!") Thích Tuyên Hóa
			li
				a(href="#!") Xem thêm
					.fa.fa-angle-double-down.d-block.w-100.text-center
	section.category-page
		.category-header
			.amount Có tất cả 
				strong 3200 
				|sách
			.sort
				.group
					label Hiển thị
					select
						option 15
				.group
					label Sắp xếp theo
					select
						option Mới nhất
		.product-list
			.row
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
				.col-6.col-md-3.col-lg-3.col-custom
					a.product-item(href="#!")
						.img
							img(src="img/pr1.png", alt="")
						.caption
							h3.name Suy niệm mỗi ngày - Tái bản lần 3
							.author Lev Tolstoy
							.price
								.new 91.900đ
								.old 126.000đ
								.promotion.sale -20%
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span 16 nhận xét
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4
