.container
	.home-flex
		section.home-menu
			ul.menu-link
				li.has-sub
					a(href="#!") Tủ sách 
						span (4932)
					.mega-sub
						a.title(href="#!") Tủ sách
						ul.mega-row
							li.mega-col
								ul
									li
										a(href="#!") Ohsawa
									li
										a(href="#!") Krishnamurti
									li
										a(href="#!") Osho
									li
										a(href="#!") Kahlil Gibran
									li
										a(href="#!") Nguyễn Duy Cần
									li
										a(href="#!") Nguyễn Hiến Lê
									li
										a(href="#!") Thích Nhất Hạnh
							li.mega-col
								ul
									li
										a(href="#!") Ohsawa
									li
										a(href="#!") Krishnamurti
									li
										a(href="#!") Osho
									li
										a(href="#!") Kahlil Gibran
									li
										a(href="#!") Nguyễn Duy Cần
									li
										a(href="#!") Nguyễn Hiến Lê
									li
										a(href="#!") Thích Nhất Hạnh
							li.mega-col
								ul
									li
										a(href="#!") Ohsawa
									li
										a(href="#!") Krishnamurti
									li
										a(href="#!") Osho
									li
										a(href="#!") Kahlil Gibran
									li
										a(href="#!") Nguyễn Duy Cần
									li
										a(href="#!") Nguyễn Hiến Lê
									li
										a(href="#!") Thích Nhất Hạnh
							li.mega-col
								ul
									li
										a(href="#!") Ohsawa
									li
										a(href="#!") Krishnamurti
									li
										a(href="#!") Osho
									li
										a(href="#!") Kahlil Gibran
				li
					a(href="#!") Tâm Linh 
						span (667)
				li
					a(href="#!") Thiền - Yoga 
						span (86)
				li
					a(href="#!") Minh Triết Phương Đông 
						span (367)
				li
					a(href="#!") Triết Học Phương Tây 
						span (97)
				li
					a(href="#!") Văn Học Việt Nam 
						span (142)
				li
					a(href="#!") Văn Học Thế Giới 
						span (68)
				li
					a(href="#!") Lịch Sử 
						span (93)
				li
					a(href="#!") Khoa Học 
						span (92)
				li
					a(href="#!") Y Học - Thực Dưỡng 
						span (348)
				li
					a(href="#!") Văn Hóa Nghệ Thuật 
						span (140)
				li
					a(href="#!") Địa Lý - Phong Thủy 
						span (57)
				li
					a(href="#!") Giáo Dục 
						span (518)
				li
					a(href="#!") Tâm Lý 
						span (932)
				li
					a(href="#!") Gia Đình 
						span (70)
				li
					a(href="#!") Thiếu Nhi 
						span (145)
				li
					a(href="#!") Thiếu Niên 
						span (65)
				li
					a(href="#!") Nghệ Thuật Sống 
						span (152)
				li
					a(href="#!") Danh Nhân 
						span (32)
				li
					a(href="#!") Kinh Tế & Chính Trị 
						span (54)
				li
					a(href="#!") Du Lịch 
						span (21)
				li
					a(href="#!") Nghiệp Vụ 
						span (35)
				li
					a(href="#!") Từ Điển 
						span (19)
				li
					a(href="#!") Ngoại Ngữ 
						span (23)
				li
					a(href="#!") Quà tặng - Lưu Niệm 
						span (52)
		section.home-banner-wrap
			.home-banner
				.banner
					.item
						a.img(href="#!")
							img(src="img/home/bn1.png", alt="")
					.item
						a.img(href="#!")
							img(src="img/home/bn1.png", alt="")
					.item
						a.img(href="#!")
							img(src="img/home/bn1.png", alt="")
					.item
						a.img(href="#!")
							img(src="img/home/bn1.png", alt="")
					.item
						a.img(href="#!")
							img(src="img/home/bn1.png", alt="")
			.home-ads
				.row
					.col-12.col-md-6.col-lg-12
						a.banner-ad(href="#!")
							img(src="img/home/ad1.png", alt="")
					.col-12.col-md-6.col-lg-12
						a.banner-ad(href="#!")
							img(src="img/home/ad2.png", alt="")
			.home-newbook
				.small-title
					span Sách mới tuyển chọn
				a.btn-viewall(href="#!") Xem tất cả
				.product-slick2
					.item
						a.product-item(href="#!")
							.img
								img(src="img/pr1.png", alt="")
							.caption
								h3.name Suy niệm mỗi ngày - Tái bản lần 3
								.author Lev Tolstoy
								.price
									.new 91.900đ
									.old 126.000đ
									.promotion.sale -20%
								.rating
									ul
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li
											i.fa.fa-star
									span 16 nhận xét
					.item
						a.product-item(href="#!")
							.img
								img(src="img/pr1.png", alt="")
							.caption
								h3.name Suy niệm mỗi ngày - Tái bản lần 3
								.author Lev Tolstoy
								.price
									.new 91.900đ
									.old 126.000đ
									.promotion.sale -20%
								.rating
									ul
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li
											i.fa.fa-star
									span 16 nhận xét
					.item
						a.product-item(href="#!")
							.img
								img(src="img/pr1.png", alt="")
							.caption
								h3.name Suy niệm mỗi ngày - Tái bản lần 3
								.author Lev Tolstoy
								.price
									.new 91.900đ
									.old 126.000đ
									.promotion.sale -20%
								.rating
									ul
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li
											i.fa.fa-star
									span 16 nhận xét
					.item
						a.product-item(href="#!")
							.img
								img(src="img/pr1.png", alt="")
							.caption
								h3.name Suy niệm mỗi ngày - Tái bản lần 3 Lorem ipsum dolor sit.
								.author Lev Tolstoy
								.price
									.new 91.900đ
									.old 126.000đ
									.promotion.sale -20%
								.rating
									ul
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li
											i.fa.fa-star
									span 16 nhận xét
					.item
						a.product-item(href="#!")
							.img
								img(src="img/pr1.png", alt="")
							.caption
								h3.name Suy niệm mỗi ngày - Tái bản lần 3
								.author Lev Tolstoy
								.price
									.new 91.900đ
									.old 126.000đ
									.promotion.sale -20%
								.rating
									ul
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li
											i.fa.fa-star
									span 16 nhận xét
					.item
						a.product-item(href="#!")
							.img
								img(src="img/pr1.png", alt="")
							.caption
								h3.name Suy niệm mỗi ngày - Tái bản lần 3 Lorem ipsum dolor sit.
								.author Lev Tolstoy
								.price
									.new 91.900đ
									.old 126.000đ
									.promotion.sale -20%
								.rating
									ul
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li.active
											i.fa.fa-star
										li
											i.fa.fa-star
									span 16 nhận xét
	section.hot-keyword
		.sidebar-title Từ khóa hot
		.keyword-slick
			.item
				a.keyword(href="#!") Tự truyện Gandhi
			.item
				a.keyword(href="#!") Sách Tâm Linh
			.item
				a.keyword(href="#!") Osho
			.item
				a.keyword(href="#!") Cố Định Một Đám Mây
			.item
				a.keyword(href="#!") Thích Nhất Hạnh
			.item
				a.keyword(href="#!") Nguyễn Hiến Lê
			.item
				a.keyword(href="#!") Một mình sống trong rừng
			.item
				a.keyword(href="#!") Nguyễn Ngọc Tư
			.item
				a.keyword(href="#!") Triết Học Ấn Độ
			.item
				a.keyword(href="#!") Thực Dưỡng Ohsawa
			.item
				a.keyword(href="#!") Thực Dưỡng Ohsawa
			.item
				a.keyword(href="#!") Nguyễn Ngọc Tư
			.item
				a.keyword(href="#!") Triết Học Ấn Độ
			.item
				a.keyword(href="#!") Thực Dưỡng Ohsawa
			.item
				a.keyword(href="#!") Thực Dưỡng Ohsawa
	section.home-product
		.small-title 
			span SÁCH TINH TUYỂN
		a.btn-viewall(href="#!") Xem tất cả
		.product-slick
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
	section.home-product
		.small-title 
			span SÁCH mua nhiều nhất
		a.btn-viewall(href="#!") Xem tất cả
		.product-slick
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
	section.home-product.mb-5
		.small-title 
			span SÁCH giảm sốc
		a.btn-viewall(href="#!") Xem tất cả
		.product-slick
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
