.container
	include ../_layout/breadcrumb
	section.webbook-page
		.row.no-gutters
			.col-12.col-lg-8
				.webbook-detail
					.webbook-info
						h1.webbook-name Nói lái: Thú chơi chữ vừa thanh vừa tục của người Việt Nam
						time 10/10/2018
						.category tủ sách văn uyển
					.content
						.text-center.mb-4
							img(src="img/webbook/img1.png", alt="")
						p 
							strong Nghề chơi cũng lắm công phu”, huống hồ chơi… chữ!
						p Chơi chữ, đối với nhà Nho, cần phải có những yếu tố mà người đời không gom được đủ: Có học đã đành, nhưng lại còn phải có tài. Trong văn chương ta, có nhiều lối chơi: thơ, phú, câu đối, “tập Kiều”, ứng dụng lối nào là tùy theo tình, theo cảnh, theo cách cấu tứ và nguồn cảm hứng của nhà văn. Những lúc tửu hậu trà dư, những khi đối cảnh sinh tình, nhà Nho gặp những tình tiết đáng cười đáng bỉ, thường thốt ra lời văn, ngụ ý mình và răn đời.
						p Một trong những hình thức chơi chữ nổi tiếng nhất là nói lái. Có thể kể đến giai thoại Trạng Quỳnh đề vào lọ tương hai chữ Đại Phong, mà ông giải thích một cách ngoắt ngoéo rằng đại phong là gió to, gió to thì đổ chùa, đổ chùa thì tượng lo, tượng lo là lọ tương. Lời đùa của Trạng Quỳnh không có gì ác ý, có những lời nói lái còn thâm độc hơn nhiều.
						p Một buổi trưa khác, một bà chúa thấy Quỳnh đang lấy chân vọc đám bèo trong một cái ao sen ven đường. Bà ngạc nhiên hỏi:
							br
							|- Trạng làm gì đấy?
							br
							|Quỳnh ngẩng lên thưa:
							br
							|- Nắng cực quá, không ngủ được, tôi phải ra đây đá bèo chơi!
							br
							|Bà chúa đỏ mặt bỏ đi.
						p Trong cuốn chơi chữ của cụ Lãng Nhân, có kể lại giai thoại rằng một quan lớn đi kinh lý, dân làng làm mấy cổng chào có dán nhiều câu ca ngợi tài đức. Vốn là tay hay chữ, quan nhớ lại những câu đối, rất lấy làm bằng lòng, duy chỉ thắc mắc vì hai chữ đại tự: "Đại chí" mà quan thấy viết trên bức hoành cổng chào cuối làng.
						p Đại chí có nghĩa là chí lớn, chí thế nào, chí làm gì, mới được chứ? Ai lại làm chữ cụt ngủn thế bao giờ! Hay là có ẩn ý gì đây…
						p Đương mân mê điếu thuốc lào để suy tưởng, bỗng quan lớn vứt mồi thuốc xuống đất, miệng lẩm bẩm: “Láo thật, quân láo thật! Dám chơi lối Trạng Quỳnh với mình”.
						p Thì ra quan vừa chợt hiểu ra: Đại chí là chí to, chí to là chó ti, mà Ti lại là tên húy của ngài.
						p Một trong những câu chuyện khác về Trạng Quỳnh với lối nói lái là khi muốn xin chiếc bánh giầy của cô Tú, người tỉnh Tuyên Quang nên thổ lộ: “Tuyên Quang, Hoằng Hóa cũng thì vua/ Nắng cực cho nên phải mất mùa/Lại đứng bên đường xin xỏ chị/Nỡ nào mà chị lại không cho”.
						p Ông Nam Chi nhận định rằng: “Từ sơ khai, nói lái đã phối hợp nhuần nhuyễn hai yếu tố: kỹ thuật lái và cái tục. Yếu tố “tục” trong nói lái của cả ông Cống Quỳnh lẫn bà Hồ Xuân Hương đã gieo rắc một ảnh hưởng rất lớn và đến nay đã biến thành nét đặc trưng cố hữu của nói lái”. Ông cho rằng hiện tượng nói lái phát tích từ bắc Trung bộ đã theo bước chân nam tiến về phương Nam.
						p Hồ Xuân Hương, có rất nhiều bài thơ nói lái để ghẹo người khác. Nhà thơ Xuân Diệu đã gọi Hồ Xuân Hương là "Bà chúa thơ Nôm" (1772-1822). Thơ của bà vừa thanh vừa tục nhất là thơ nói lái. Thơ của bà là tiếng nói của nữ quyền đả kích mạnh mẽ thói đời. Bà là người phụ nữ đầu tiên dám dùng thơ để châm biếm cả sư vãi:
					.webbook-product
						.img
							img(src="img/webbook/pr.png", alt="")
						.caption
							h2.name 
								a(href="#!") Chơi chữ - Cười cợt mà sửa lại phong hoá
							.rating
								ul
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li.active
										i.fa.fa-star
									li
										i.fa.fa-star
								span.text-green 16 nhận xét
							.des
								ul
									li Giá bìa: 
										span.price-old 68.000đ
									li Tại Sách Khai Tâm: 
										span.price-new 57.800 đ
									li Tiết kiệm: 
										strong 10.200đ 
							a.btn-buy(href="#!") Mua ngay
				.webbook-other
					.sidebar-title Điểm sách khác
					.other-list
						.row
							.col-12.col-md-6
								a.other-item(href="#!")
									.img
										img(src="img/webbook/bn.png", alt="")
									.caption
										h1.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
										time 10/10/2018
										.category tủ sách văn uyển
							.col-12.col-md-6
								a.other-item(href="#!")
									.img
										img(src="img/webbook/bn.png", alt="")
									.caption
										h1.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
										time 10/10/2018
										.category tủ sách văn uyển
			.col-12.col-lg-4
				.webbook-hot
					.sidebar-title ĐỌC NHIỀU NHẤT
					.hot-list
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
	section.product-related
		.small-title 
			span Có thể bạn quan tâm
		a.btn-viewall(href="#!") Xem tất cả
		.product-slick
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
