.container
	include ../_layout/breadcrumb
	section.newbook-section
		.newbook-list
			.row
				.col-12.col-md-6
					a.newbook-col.big(href="#!")
						.img
							img(src="img/webbook/bn.png", alt="")
						.caption
							h1.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
							time 10/10/2018
							.category tủ sách văn uyển
				.col-12.col-md-6
					a.newbook-col.big(href="#!")
						.img
							img(src="img/webbook/bn.png", alt="")
						.caption
							h2.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
							time 10/10/2018
							.category tủ sách văn uyển
				.col-12.col-sm-6.col-md-3
					a.newbook-col(href="#!")
						.img
							img(src="img/webbook/bn.png", alt="")
						.caption
							h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
							time 10/10/2018
							.category tủ sách văn uyển
				.col-12.col-sm-6.col-md-3
					a.newbook-col(href="#!")
						.img
							img(src="img/webbook/bn.png", alt="")
						.caption
							h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
							time 10/10/2018
							.category tủ sách văn uyển
				.col-12.col-sm-6.col-md-3
					a.newbook-col(href="#!")
						.img
							img(src="img/webbook/bn.png", alt="")
						.caption
							h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
							time 10/10/2018
							.category tủ sách văn uyển
				.col-12.col-sm-6.col-md-3
					a.newbook-col(href="#!")
						.img
							img(src="img/webbook/bn.png", alt="")
						.caption
							h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
							time 10/10/2018
							.category tủ sách văn uyển
	section.webbook-page
		.row.no-gutters
			.col-12.col-lg-8
				.webbook-list
					.webbook-col
						a.img(href="#!")
							img(src="img/webbook/bn2.png", alt="")
						.caption
							h3.name 
								a(href="#!") Nói lái: Thú chơi chữ vừa thanh vừa tục của người Việt Nam
							time 10/10/2018
							.category tủ sách văn uyển
							.des Chơi chữ, đối với nhà Nho, cần phải có những yếu tố mà người đời không gom được đủ: Có học đã đành, nhưng lại còn phải có tài. Trong văn chương ta, có nhiều lối chơi: thơ, phú, câu đối, “tập Kiều”, ứng dụng lối nào là tùy theo tình, theo cảnh, theo cách cấu tứ và nguồn cảm hứng của nhà văn. Những lúc tửu hậu trà dư, những khi đối cảnh sinh tình…
							a.link(href="#!") Xem thêm
					.webbook-col
						a.img(href="#!")
							img(src="img/webbook/bn2.png", alt="")
						.caption
							h3.name 
								a(href="#!") Nói lái: Thú chơi chữ vừa thanh vừa tục của người Việt Nam
							time 10/10/2018
							.category tủ sách văn uyển
							.des Chơi chữ, đối với nhà Nho, cần phải có những yếu tố mà người đời không gom được đủ: Có học đã đành, nhưng lại còn phải có tài. Trong văn chương ta, có nhiều lối chơi: thơ, phú, câu đối, “tập Kiều”, ứng dụng lối nào là tùy theo tình, theo cảnh, theo cách cấu tứ và nguồn cảm hứng của nhà văn. Những lúc tửu hậu trà dư, những khi đối cảnh sinh tình…
							a.link(href="#!") Xem thêm
					.webbook-col
						a.img(href="#!")
							img(src="img/webbook/bn2.png", alt="")
						.caption
							h3.name 
								a(href="#!") Nói lái: Thú chơi chữ vừa thanh vừa tục của người Việt Nam
							time 10/10/2018
							.category tủ sách văn uyển
							.des Chơi chữ, đối với nhà Nho, cần phải có những yếu tố mà người đời không gom được đủ: Có học đã đành, nhưng lại còn phải có tài. Trong văn chương ta, có nhiều lối chơi: thơ, phú, câu đối, “tập Kiều”, ứng dụng lối nào là tùy theo tình, theo cảnh, theo cách cấu tứ và nguồn cảm hứng của nhà văn. Những lúc tửu hậu trà dư, những khi đối cảnh sinh tình…
							a.link(href="#!") Xem thêm
					.webbook-col
						a.img(href="#!")
							img(src="img/webbook/bn2.png", alt="")
						.caption
							h3.name 
								a(href="#!") Nói lái: Thú chơi chữ vừa thanh vừa tục của người Việt Nam
							time 10/10/2018
							.category tủ sách văn uyển
							.des Chơi chữ, đối với nhà Nho, cần phải có những yếu tố mà người đời không gom được đủ: Có học đã đành, nhưng lại còn phải có tài. Trong văn chương ta, có nhiều lối chơi: thơ, phú, câu đối, “tập Kiều”, ứng dụng lối nào là tùy theo tình, theo cảnh, theo cách cấu tứ và nguồn cảm hứng của nhà văn. Những lúc tửu hậu trà dư, những khi đối cảnh sinh tình…
							a.link(href="#!") Xem thêm
					.pages
						ul.pagination
							li.active
								a(href="#!") 1
							li
								a(href="#!") 2
							li
								a(href="#!") 3
							li
								a(href="#!") 4
			.col-12.col-lg-4
				.webbook-hot
					.sidebar-title ĐỌC NHIỀU NHẤT
					.hot-list
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
