.container
	include ../_layout/breadcrumb
	section.webbook-page
		.row.no-gutters
			.col-12.col-lg-8
				.webbook-detail
					.webbook-info
						h1.webbook-name Mất Ngủ Với 5 Tựa Sách Dựng Tóc Gáy Cho Mùa Halloween Kinh Dị
						time 10/10/2018
						.category tủ sách văn uyển
					.content
						p 
							strong.text-uppercase 1.BÓNG MA TRONG NHÀ HÁT (TÁI BẢN 2018)
						p Vốn là tiểu thuyết dài kỳ in trên tờ Le Gaulois từ tháng 9/1909 đến tháng 1/1910, “Bóng Ma Trong Nhà Hát” được nhà xuất bản Pierre Lafitte in thành sách lần đầu tiên năm 1910 và từ đó đến nay vẫn luôn là nguồn cảm hứng bất tận cho hàng chục tác phẩm điện ảnh, nhạc kịch, phim truyền hình và ca khúc ở Pháp, Mỹ và nhiều quốc gia khác.
						.content-product.mb-4
							img.mb-3(src="img/webbook/img2.png", alt="")
							.btn-wrap
								a.btn-buy(href="#!") Mua ngay
						p 
							strong.text-uppercase 2.BÓNG MA TRONG NHÀ HÁT (TÁI BẢN 2018)
						p Vốn là tiểu thuyết dài kỳ in trên tờ Le Gaulois từ tháng 9/1909 đến tháng 1/1910, “Bóng Ma Trong Nhà Hát” được nhà xuất bản Pierre Lafitte in thành sách lần đầu tiên năm 1910 và từ đó đến nay vẫn luôn là nguồn cảm hứng bất tận cho hàng chục tác phẩm điện ảnh, nhạc kịch, phim truyền hình và ca khúc ở Pháp, Mỹ và nhiều quốc gia khác.
						.content-product.mb-4
							img.mb-3(src="img/webbook/img2.png", alt="")
							.btn-wrap
								a.btn-buy(href="#!") Mua ngay
						p 
							strong.text-uppercase 3.BÓNG MA TRONG NHÀ HÁT (TÁI BẢN 2018)
						p Vốn là tiểu thuyết dài kỳ in trên tờ Le Gaulois từ tháng 9/1909 đến tháng 1/1910, “Bóng Ma Trong Nhà Hát” được nhà xuất bản Pierre Lafitte in thành sách lần đầu tiên năm 1910 và từ đó đến nay vẫn luôn là nguồn cảm hứng bất tận cho hàng chục tác phẩm điện ảnh, nhạc kịch, phim truyền hình và ca khúc ở Pháp, Mỹ và nhiều quốc gia khác.
						.content-product.mb-4
							img.mb-3(src="img/webbook/img2.png", alt="")
							.btn-wrap
								a.btn-buy(href="#!") Mua ngay
						p 
							strong.text-uppercase 4.BÓNG MA TRONG NHÀ HÁT (TÁI BẢN 2018)
						p Vốn là tiểu thuyết dài kỳ in trên tờ Le Gaulois từ tháng 9/1909 đến tháng 1/1910, “Bóng Ma Trong Nhà Hát” được nhà xuất bản Pierre Lafitte in thành sách lần đầu tiên năm 1910 và từ đó đến nay vẫn luôn là nguồn cảm hứng bất tận cho hàng chục tác phẩm điện ảnh, nhạc kịch, phim truyền hình và ca khúc ở Pháp, Mỹ và nhiều quốc gia khác.
						.content-product.mb-4
							img.mb-3(src="img/webbook/img2.png", alt="")
							.btn-wrap
								a.btn-buy(href="#!") Mua ngay
						p 
							strong.text-uppercase 5.BÓNG MA TRONG NHÀ HÁT (TÁI BẢN 2018)
						p Vốn là tiểu thuyết dài kỳ in trên tờ Le Gaulois từ tháng 9/1909 đến tháng 1/1910, “Bóng Ma Trong Nhà Hát” được nhà xuất bản Pierre Lafitte in thành sách lần đầu tiên năm 1910 và từ đó đến nay vẫn luôn là nguồn cảm hứng bất tận cho hàng chục tác phẩm điện ảnh, nhạc kịch, phim truyền hình và ca khúc ở Pháp, Mỹ và nhiều quốc gia khác.
						.content-product.mb-4
							img.mb-3(src="img/webbook/img2.png", alt="")
							.btn-wrap
								a.btn-buy(href="#!") Mua ngay


				.webbook-other
					.sidebar-title Điểm sách khác
					.other-list
						.row
							.col-12.col-md-6
								a.other-item(href="#!")
									.img
										img(src="img/webbook/bn.png", alt="")
									.caption
										h1.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
										time 10/10/2018
										.category tủ sách văn uyển
							.col-12.col-md-6
								a.other-item(href="#!")
									.img
										img(src="img/webbook/bn.png", alt="")
									.caption
										h1.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
										time 10/10/2018
										.category tủ sách văn uyển
			.col-12.col-lg-4
				.webbook-hot
					.sidebar-title ĐỌC NHIỀU NHẤT
					.hot-list
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
						a.hot-item(href="#!")
							.img
								img(src="img/webbook/bn.png", alt="")
							.caption
								h3.name Khi chán tình dục, bạn bắt đầu có cơ hội chạm tới tình yêu thật sự?
								time 10/10/2018
								.category tủ sách văn uyển
	section.product-related
		.small-title 
			span Có thể bạn quan tâm
		a.btn-viewall(href="#!") Xem tất cả
		.product-slick
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
			.item
				a.product-item(href="#!")
					.img
						img(src="img/pr1.png", alt="")
					.caption
						h3.name Suy niệm mỗi ngày - Tái bản lần 3
						.author Lev Tolstoy
						.price
							.new 91.900đ
							.old 126.000đ
							.promotion.sale -20%
						.rating
							ul
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li.active
									i.fa.fa-star
								li
									i.fa.fa-star
							span 16 nhận xét
